/TrabajoPráctico2/nbproject/private/
/TrabajoPráctico2/build/
/TrabajoPractico2/nbproject/private/
/TrabajoPractico3/nbproject/private/
/TrabajoPractico3/build/
/TrabajoPractico4/nbproject/private/
/TrabajoPractico4/build/
/TrabajoPractico5/nbproject/private/
/TrabajoPractico5/build/
/TrabajoPractico5/dist/
/TrabajoPractico6/nbproject/private/
/TrabajoPractico6/build/
/TrabajoPractico7/nbproject/private/
